{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/experience.css') }}">
{% endblock stylesheet %}

<section id="experience" class="experience-section">
    <div class="container">
        <h2 class="section-title text-center">Experience</h2>

        {% for job in config.work_experience %}
        <div class="row experience-entry">
            <!-- Left Side (30%) -->
            <div class="col-lg-4 job-info">
                <h4 class="job-title">{{ job.position }}</h4>
                <p class="company-name">{{ job.company }}</p>
                <p class="duration">{{ job.start_date }} - {{ job.end_date }}</p>
            </div>

            <!-- Right Side (70%) -->
            <div class="col-lg-8">
                <div class="experience-card">
                    <ul>
                        {% for highlights in job.highlights[:4] %}
                        <li>{{ highlights }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% block javascript %}
<script src="{{url_for('static', filename='js/experience.js')}}"></script>
{% endblock javascript %}