<section id="home" class="home container-fluid d-flex align-items-center min-vh-100 min-vh-md-auto">
    <div class="container">
        <div class="row align-items-center">
            <!-- Text Content -->
            <div class="col-lg-6 text-lg-start text-center">
                <h1 class="display-4 fw-bold text-dark">{{config.title}}</h1>
                <p class="lead text-muted">
                    {{config.portfolio}}
                </p>
                <div class="d-flex justify-content-lg-start justify-content-center gap-3 mt-4">
                    {% for data in config.social %}
                    <a class="btn btn-outline-dark rounded-circle" href="{{data.url}}">
                        <i class="bi bi-{{data.icon}}"></i>
                    </a>
                    {% endfor %}
                </div>
            </div>

            <!-- Profile Image -->
            <div class="col-lg-6 d-flex justify-content-lg-end justify-content-center mt-4 mt-lg-0">
                <img src="{{url_for('static', filename='assets/images/profile_pic.png')}}"
                    class="img-fluid rounded-circle border border-3 border-dark" alt="Profile Image"
                    style="max-width: 400px;">
            </div>
        </div>
    </div>
</section>