{% block stylesheet %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/navbar.css')}}">
{% endblock stylesheet %}


<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <!-- NAME -->
        <a class="navbar-brand fw-bold">{{ config.name }}</a>

        <!-- HAMBURGER MENU -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarPortfolio"
            aria-controls="navbarPortfolio" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- NAVIGATION LINKS -->
        <div class="collapse navbar-collapse" id="navbarPortfolio">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link mx-3" href="#home">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-3" href="#about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-3" href="#experience">EXPERIENCE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-3" href="#projects">PROJECTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-3" href="#education">EDUCATION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-3" href="#contact">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block javascript %}
    <script src="{{url_for('static', filename='js/navbar.js')}}"></script>
{% endblock javascript %}