/* About Section */
.about-section {
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.education-card .card-body {
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0;
}

/* Match Heights */
.equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Ensure All Cards Fill Available Space */
.education-container,
.skills-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.education-card,
.skill-card {
    background: var(--bg-color);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    .education-card {
        background: var(--bg-color);
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        flex-grow: 1;
        /* Ensures all cards stretch equally */

        display: flex;
        align-items: center;
        /* Vertical Center */
    }

    flex-grow: 1;
    /* Makes sure all cards stretch equally */
}

/* Hover Effect */
.skill-card:hover,
.education-card:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .skills-section {
        margin-top: 20px;
    }
}