.education {
    padding: 60px 0;
    background-color: var(--bg-color);
}

.education .section-title {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: var(--font-color-dark);
    margin-bottom: 30px;
}

.education-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.education-card {
    background-color: var(--bg-color);
    color: var(--font-color-dark);
    border-radius: 10px;
    padding: 20px;
    width: 800px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    margin: 0 20px;
}

.education-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.degree-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--font-color-dark);
}

.institution-name {
    font-size: 1.2rem;
    font-weight: normal;
    color: var(--font-color-dark);
    margin-bottom: 10px;
}

.education-university {
    font-size: 1rem;
    font-weight: normal;
    color: var(--font-color-dark);
    margin-bottom: 10px;
}

.education-details {
    font-size: 1rem;
    color: var(--font-color-dark);
}

/* Responsive Styling */
@media (max-width: 768px) {
    .education-cards {
        flex-direction: column;
        align-items: center;
    }

    .education-card {
        width: 95vw;
    }

    .education .container {
        margin: 0;
        padding: 0;
    }
}